![Logo AceleraDev](https://github.com/codenation-dev/Data-Science-Online/blob/master/Semana%202/logo.png?raw=true)

# AceleraDev Data Science - Semana 2

## Eloisa Paz - Software Developer | Data Scientist Student

### Imputação de dados

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('train.csv')

In [14]:
aux = pd.DataFrame({'colunas':df.columns,
                    'tipos':df.dtypes,
                    'percentual_faltante':df.isna().sum() / df.shape[0]})

In [15]:
aux

                 colunas    tipos  percentual_faltante
PassengerId  PassengerId    int64             0.000000
Survived        Survived    int64             0.000000
Pclass            Pclass    int64             0.000000
Name                Name   object             0.000000
Sex                  Sex   object             0.000000
Age                  Age  float64             0.000000
SibSp              SibSp    int64             0.000000
Parch              Parch    int64             0.000000
Ticket            Ticket   object             0.000000
Fare                Fare  float64             0.000000
Cabin              Cabin   object             0.771044
Embarked        Embarked   object             0.002245

- Dados númericos: média ou mediana

In [12]:
df['Age'] = df['Age'].fillna(df['Age'].mean())

- Dados categoricos: unknown ou moda

In [16]:
df['Cabin'] = df['Cabin'].fillna('Unknown')

In [17]:
df['Cabin'].value_counts()

Unknown        687
B96 B98          4
C23 C25 C27      4
G6               4
C22 C26          3
              ...
E12              1
C50              1
A23              1
C70              1
C111             1
Name: Cabin, Length: 148, dtype: int64

In [19]:
df.shape[0]

891