# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [1]:
import pandas as pd
import numpy as np

In [4]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [212]:
black_friday.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [6]:
def q1():
    return black_friday.shape

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [211]:
def q2():
    question_2 = black_friday[['Age', 'Gender']]
    valores = question_2.groupby('Gender')['Age'].value_counts()[0]
    return int(valores)

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [99]:
def q3():
    teste = black_friday['User_ID'].unique()
    return len(teste)

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [107]:
def q4():
    return len(black_friday.dtypes.unique())

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [9]:
def q5():
    return float((black_friday.isna().any(axis=1)).mean())

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [138]:
def q6():
    return int(black_friday.isna().sum().max())

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [145]:
def q7():
    return int(black_friday['Product_Category_3'].mode())

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [168]:
def q8():
    base = black_friday['Purchase']
    normalized_df = (base-base.min())/(base.max()-base.min())
    return float(normalized_df.mean())

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [223]:
def q9():
    base = black_friday['Purchase']
    normalized_df = (base-base.min())/(base.max()-base.min())
    return len(normalized_df.unique())

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [32]:
def q10():
    product_2 = black_friday['Product_Category_2'].isna()
    product_3 = black_friday['Product_Category_3'].isna()
    product2_3 = product_2 & product_3
    return bool((product2_3 == product_2).all())